* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* section-1 */

.container {
  width: 70%;
}

/* navbar */

.navbar {
  background: rgba(0, 0, 0);
  opacity: 90%;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  position: fixed;
  width: 100%;
  z-index: 15;
}
.nav-link {
  color: #fff;
  margin-right: 25px;
}
.nav-link:hover {
  color: #ea05ff;
}
.nav-cont {
  margin-left: 260px;
}
.nav-btn {
  color: #fff;
  background: linear-gradient(150deg, rgb(197, 65, 209), rgb(31, 96, 236));
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 600;
  margin-left: 25px;
}
.nav-btn:hover {
  background: #ffffff;
  color: #000000;
  transition: ease-in-out 0.5s;
}
/* navbar */

.carousel-1 {
  background-image: url(imgs/bg-1.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  text-align: right;
  color: #fff;
  padding-top: 300px;
}
.banner h1 {
  font-size: 90px;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.banner p {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 50px;
  background: rgba(255, 255, 255, 0.1);
}
.banner button {
  color: #fff;
  background: linear-gradient(150deg, rgb(197, 65, 209), rgb(31, 96, 236));
  width: 230px;
  height: 50px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  font-size: 15px;
}
.banner button:hover {
  background: #ffffff;
  color: #000000;
  transition: ease-in-out 0.5s;
}

.carousel-2 {
  background-image: url(imgs/bg-2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.carousel-2::after {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.carousel-2-txt {
  z-index: 9;
  position: relative;
  color: #fff;
  text-align: center;
}
.carousel-2 h1 {
  font-size: 90px;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.carousel-2 h2 {
  padding-top: 330px;
  font-size: 40px;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.bi-alarm {
  margin-left: 50px;
}
.carousel-2 span {
  font-weight: 500;
  font-size: large;
}
.carousel-2 button {
  color: #fff;
  background: linear-gradient(150deg, rgb(197, 65, 209), rgb(31, 96, 236));
  width: 150px;
  height: 50px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  margin-top: 50px;
}
.carousel-2 button:hover {
  background: #ffffff;
  color: #000000;
  transition: ease-in-out 0.5s;
}
.carousel-2 .btn-2 {
  margin-left: 30px;
}
.carousel-2 .btn-1 {
  margin-left: 30px;
}
/* section-1 */

/* section-2 */

.section-2 {
  background-color: #151853;
  height: fit-content;
}

.section-2 .txt-section {
  color: #fff;
  padding-top: 130px;
}
.txt-section span {
  color: #c12f7d;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
}
.line {
  width: 162px;
  height: 2px;
  background-color: #4b4d7b;
  margin-top: 3px;
}
.txt-section h1 {
  font-weight: bold;
  margin-bottom: 30px;
}
.txt-section p {
  font-size: large;
  margin-bottom: 30px;
}
.txt-section button {
  color: #fff;
  background: linear-gradient(150deg, rgb(197, 65, 209), rgb(31, 96, 236));
  width: 160px;
  height: 45px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  margin-top: 30px;
}
.txt-section button:hover {
  background: #ffffff;
  color: #000000;
  transition: ease-in-out 0.5s;
}
.section-2 img {
  width: 100%;
  padding-top: 100px;
}

.timer-section {
  color: #fff;
  margin-top: 80px;
  padding-bottom: 80px;
}
.timer-section span {
  color: #c12f7d;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
}
.timer-section h5 {
  font-weight: 700;
  letter-spacing: 1px;
}
.timer-boxes {
  display: flex;
  justify-content: space-between;
}
.box {
  height: 120px;
  width: 120px;
  text-align: center;
  border: 2px solid #575b8d;
  padding-bottom: 10px;
}
.box h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -10px;
  margin-top: 10px;
}
.box span {
  color: #575b8d;
  font-size: 20px;
  letter-spacing: 0px;
}
/* section-2 */

/* section-3  */

.section-3 {
  background-image: url(imgs/bg-pink-abstract.jpg);
  height: fit-content;
}
.speak-header {
  text-align: center;
  color: #fff;
  padding-top: 150px;
}
.speak-header h1 {
  font-weight: 700;
}

.speaker-boxes {
  padding-bottom: 60px;
}
.speaker-box {
  width: 100%;
  height: 380px;
  margin-top: 60px;
  position: relative;
}
.speaker-box:hover > .social-info {
  display: block;
  transition: all ease-in-out 1s;
}
.speaker-box::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  height: 380px;
  width: 100%;
  top: 0;
  left: 0;
}
.speaker-box img {
  width: 100%;
  border-radius: 10px;
  height: 380px;
}
.speaker-box h4 {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 30px;
  padding-left: 20px;
  z-index: 10;
}
.speaker-box h6 {
  color: #ea05ff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  padding-bottom: 5px;
  letter-spacing: 3px;
  z-index: 10;
}
.social-info {
  display: none;
  text-align: center;
  font-size: 18px;
  color: #fff;
  padding-top: 15px;
  line-height: 30px;
  width: 50px;
  height: 150px;
  background-color: #6539e9;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.speaker-btn {
  text-align: center;
  padding-bottom: 100px;
}
.speaker-btn button {
  width: 200px;
  height: 45px;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: 600;
}
.speaker-btn button:hover {
  border: none;
  background-color: #2a39d9;
  transition: all ease-in-out 0.5s;
}

/* section-3  */

/* section-4 */

.section-4 {
  background-color: #151853;
  height: 100vh;
}
.schedule-header {
  text-align: center;
}
.schedule-header h6 {
  color: #c925d8;
  padding-top: 100px;
}
.schedule-header h1 {
  color: #fff;
  font-weight: 700;
  padding-bottom: 70px;
}
.tab-container {
  color: #fff;
  display: flex;
  justify-content: center;
}
.tab-content {
  display: none;
  padding: 20px;
}

/* section-4 */

/* section-5 */

.section-5 {
  background: linear-gradient(150deg, rgb(95, 83, 199), rgb(181, 68, 172));
  height: fit-content;
}
.ticket-header {
  text-align: center;
  color: #fff;
  padding-top: 100px;
}
.ticket-header h1 {
  font-weight: 700;
}
.ticket-card {
  background-color: #fff;
  border-radius: 10px;
  width: 90%;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 100px;
  margin-top: 50px;
}
.ticket-card:hover {
  scale: 110%;
  transition: all ease-in-out 0.9s;
}

.ticket-card span {
  font-size: 70px;
  font-weight: 700;
}
sup {
  font-size: 40px;
}
.ticket-card h6 {
  background-color: #df42b1;
  color: #fff;
  font-weight: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ticket-card button {
  color: #fff;
  background: linear-gradient(150deg, rgb(197, 65, 209), rgb(31, 96, 236));
  width: 80%;
  height: 45px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 600;
  /* margin-left: 25px; */
  margin-bottom: 30px;
}
.ticket-card button:active {
  background: #ffffff;
  color: #000000;
  transition: ease-in 0.5s;
}
.ticket-card button i {
  color: #fff;
}
.ticket-card i {
  color: #df42b1;
}
.ticket-card p {
  font-size: large;
  color: #5d5e8d;
}
/* section-5 */

/* section-6 */

.section-6 {
  background-color: #151853;
  height: fit-content;
  padding-bottom: 100px;
}
.sponsor-header {
  color: #fff;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 50px;
}
.sponsor-header h6 {
  color: #df42b1;
  letter-spacing: 1px;
}
.sponsor-header h1 {
  font-weight: 700;
}
.sponsor-brand {
  width: 25%;
  border: 1px solid rgb(88, 89, 98);
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  margin-left: -1px;
  margin-top: -1px;
}
.sponsor-brand img {
  opacity: 50%;
}
.sponsor-brand img:hover {
  opacity: 100%;
  transition: all ease-in-out 0.5s;
}
.sponsor-card {
  color: #fff;
  margin-top: 100px;
  background-color: #2d3065;
  border-radius: 10px;
  padding: 50px;
}
.sponsor-card p {
  font-size: large;
  line-height: 30px;
}
.sponsor-card img {
  border-radius: 50%;
  width: 20%;
  margin-top: 10px;
}
.manager-name {
  margin-left: 20px;
  margin-top: 25px;
}
.manager-name h6 {
  color: #df42b1;
  font-weight: 100;
}
/* section-6 */

/* section-7 */

.section-7 {
  height: fit-content;
  padding-bottom: 100px;
  background-image: url(imgs/bg-3);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section-7::after {
  content: "";
  background: linear-gradient(120deg, #df42b1 0%, #505add 100%);
  opacity: 90%;
  position: absolute;
  width: 100%;
  height: 90vh;
  top: 0;
  left: 0;
}
.news-header {
  position: relative;
  z-index: 10;
  color: #fff;
  text-align: center;
  padding-top: 100px;
}
.news-card {
  position: relative;
  z-index: 10;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  margin-top: 50px;
  overflow: hidden;
}
.news-card img:hover {
  scale: calc(1.2);
  transition: all ease-in ease-out;
  transition-duration: 0.5s;
}
.news-card img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.news-txt {
  padding: 30px;
  text-align: center;
}
.news-txt .bi-alarm {
  margin-left: 0;
}
.news-txt h4 {
  font-weight: 700;
}
.news-txt h4:hover {
  color: #c12f7d;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}
.news-txt span {
  font-weight: 600;
  color: #9293bc;
}
.news-txt i {
  font-weight: 600;
  color: #9293bc;
}
.news-txt p {
  font-size: large;
  color: #5d7fb0;
}
.news-row button {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -25px;
  left: 150px;
  z-index: 11;
  border-radius: 50%;
  border: 3px #fff solid;
  background: linear-gradient(120deg, #df42b1 0%, #505add 100%);
  color: #fff;
  font-weight: 700;
}
.news-row {
  text-align: center;
  position: relative;
  z-index: 10;
}
/* section-7 */

/* section-8 */

.section-8 {
  height: fit-content;
  padding-bottom: 100px;
  background-color: #151853;
}
.contact {
  color: #fff;
}
.contact span {
  font-size: large;
  font-weight: 400;
  color: #7988ba;
}
.contact strong {
  font-size: large;
}
.contact-form {
  background-color: #21245c;
  border-radius: 10px;
  text-align: left;
  padding: 20px;
}
.contact-form input {
  width: 48%;
  height: 40px;
  margin-top: 20px;
  background: none;
  border: none;
  border-bottom: solid 1px #7988ba;
}
.contact-form textarea {
  width: 96%;
  margin-top: 20px;
  height: 60px;
  background: none;
  border: none;
  border-bottom: solid 1px #7988ba;
}
.contact-form button {
  background: linear-gradient(120deg, #df42b1 0%, #505add 100%);
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 12px 25px;
  font-size: small;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 30px;
}
/* section-8 */
/* Media query */

@media (max-width: 992px) {
  .sponsor-brand img {
    width: 75%;
    margin-left: 20px;
  }
  .sponsor-card img {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .banner h1 {
    font-size: 50px;
    margin-top: 200px;
  }
  .carousel-2 h1 {
    font-size: 50px;
  }
  .carousel-2 h2 {
    font-size: 20px;
  }
  .carousel-2 span {
    font-size: medium;
  }
  .box {
    margin-top: 20px;
  }
  .sponsor-brand img {
    width: 75%;
    margin-left: 10px;
  }
  .sponsor-brand {
    padding: 20px 0px;
  }
  .sponsor-card img {
    width: 20%;
  }
}

@media (max-width: 465px) {
  .carousel-2 span {
    font-size: small;
  }
  .box {
    height: 60px;
    width: 60px;
    margin-top: 20px;
  }
  .box h1 {
    font-size: 30px;
  }
  .box span {
    font-size: 10px;
  }
  .sponsor-card img {
    width: 30%;
  }
}

/* Media query */
